{% extends "main.html" %}
{% block content %}
	 <h1>Deepawali</h1>

	 <table style="width:100%">
		<tr>
		  <th>Firstname</th>
		  <th>Lastname</th> 
		  <th>Remarks</th>
		  <th>Remarks</th>
		</tr>
		<tr>
		  <td>Jil</td>
		  <td>Smith</td>
		  <td><a href=""></a>Edit</td>
		  <td><a href=""></a>Delete</td>
		</tr>
		<tr>
		  <td>Eve</td>
		  <td>Jackson</td>
		  <td><a href=""></a>Edit</td>
		  <td><a href=""></a>Delete</td>
		</tr>
		<tr>
		  <td>John</td>
		  <td>Doe</td>
		  <td><a href=""></a>Edit</td>
		  <td><a href=""></a>Delete</td>
		</tr>
	  </table>

{% endblock %}