{% extends "main.html" %}
{% block content %}
<h1> Edit {{event.name}} Information</h1>


<form action="{{ url_for('editEventInfo',event_id = event.id)}}" method = 'POST'>

	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{event.name }}'>
	<p>Date:</p>
		<input type ='date' size='30' name='date' placeholder="{{event.date}}">
	<p>Time:</p>
		<input type ='time' size='30' name='time'placeholder="{{event.time}}">
	<p>Price:</p>
		<input type ='number' size='30' name='price'placeholder="{{event.price}}">
	<p>Venue:</p>
		<input type ='text' size='30' name='venue'placeholder="{{event.venue}}">
	<p>Description:</p>
		<input type ='text' size='100' name='description'placeholder="{{event.description}}">

<input type='submit' value='Edit'>


<a href = '{{url_for('showEvent' , event_id = event.id)}}'> Cancel </a>
{% endblock %}    