{% extends "main.html" %}
{% block content %}
<h1>Chinese New Year</h1>
<br>
<br>
<table>
    <tr>
        <th>Date</th>
        <td></td>
        <td><a href="#">Edit</a></td>
        <td><a href="#">Delete</a></td>
    </tr>
    <tr>
        <th>Time</th>
        <td></td>
        <td><a href="#">Edit</a></td>
        <td><a href="#">Delete</a></td>
    </tr>
    <tr>
        <th>Price</th>
        <td></td>
        <td><a href="#">Edit</a></td>
        <td><a href="#">Delete</a></td>
    </tr> 
    <tr>
        <th>Venue</th>
        <td></td>
        <td><a href="#">Edit</a></td>
        <td><a href="#">Delete</a></td>
    </tr>
</table>

{% endblock %}