<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <header class="toolbar">
        {% if not current_user.name %}
            <h6><a href="/login">Login</a> </h6>
        {% else %}
            <p>Hello, {{current_user.name}}!</p>
            <h6><a href="/logout">Logout</a></h6>
        {% endif %}
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>