{% extends 'main.html' %}

{% block content %}
<h1>New Event</h1>

<form action="/event/new" method = 'POST'>


	<p>Name:</p>
		<input type ='text' size='30' name='name'>
	<p>Date:</p>
		<input type ='date' size='30' name='date'>
	<p>Time:</p>
		<input type ='time' size='30' name='time'>
	<p>Price:</p>
		<input type ='number' size='30' name='price'>
	<p>Venue:</p>
		<input type ='text' size='30' name='venue'>
	<p>Description:</p>
		<input type ='text' size='100' name='description'>


<input type='submit' value='Create'>

{% endblock %}